<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>{{field.name}}</h1>
        </div>
    </div>

    {{#each matches}}
    <div class="row mt-5">
        <div class="col-12">
            <p>{{date}}</p>
            <a href="/partidos/detalles/{{_id}}" class="btn btn-primary">Detalles</a>
            <a href="/partidos/editar/{{_id}}" class="btn btn-primary">Editar</a>
            <a href="/partidos/borrar/{{_id}}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    {{/each}}

    <div class="row mt-5">
        <div class="col-12 mt-3">
            <a href="/partidos/crear/{{field._id}}" class="btn btn-success">Crear Partido</a>
        </div>
    </div>
</div>